body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lili{
    margin-left: 100px;
    color: rgb(119, 118, 118);
}
.aaa{
    color: black;
    font-weight: 800;
}
.first{
    font-size: 13px;
}
.denis{
    color: black;
    font-weight: 900;
}

.about{
    background-color: rgb(223, 223, 223);
    
}

.cardd{
    width: 70px;
    height: auto;
}

.iconn{
    background-color: rgb(27, 27, 27);
}
.sectionn{
    background-color: rgb(223, 223, 223);
    
}
.icono{
    color: black;
    font-size: 23px;
    padding: 15px;
}